.article:hover .data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity 0.3s;
}

.article:hover .title {
    animation: hide-data 1s forwards;
    opacity: 1;
    transition: opacity 0.3s;
}

.article:hover {
    animation: remove-overflow 2s forwards;
}

.article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.article:not(:hover) .data {
    animation: remove-data 1s forwards;
}

.article:not(:hover) .title {
    animation: show-title 1s forwards;
}

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

/* Keyframes for hiding data */
@keyframes hide-data {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes show-title {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}