.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.bubble {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.5;
    animation: rise 10s infinite ease-in;
}

.bubble:nth-child(1) {
    background: #ff8080; /* Adjust color as needed */
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 8s;
}

.bubble:nth-child(2) {
    background: #80ff80; /* Adjust color as needed */
    width: 20px;
    height: 20px;
    left: 20%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.bubble:nth-child(3) {
    background: #8080ff; /* Adjust color as needed */
    width: 50px;
    height: 50px;
    left: 35%;
    animation-duration: 7s;
    animation-delay: 2s;
}

.bubble:nth-child(4) {
    background: #ffff80; /* Adjust color as needed */
    width: 30px;
    height: 30px;
    left: 50%;
    animation-duration: 11s;
    animation-delay: 0s;
}

.bubble:nth-child(5) {
    background: #80ffff; /* Adjust color as needed */
    width: 35px;
    height: 35px;
    left: 55%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.bubble:nth-child(6) {
    background: #ff80ff; /* Adjust color as needed */
    width: 45px;
    height: 45px;
    left: 65%;
    animation-duration: 8s;
    animation-delay: 3s;
}

.bubble:nth-child(7) {
    background: #ff8080; /* Adjust color as needed */
    width: 30px;
    height: 30px;
    left: 70%;
    animation-duration: 12s;
    animation-delay: 2s;
}

.bubble:nth-child(8) {
    background: #80ff80; /* Adjust color as needed */
    width: 25px;
    height: 25px;
    left: 80%;
    animation-duration: 6s;
    animation-delay: 2s;
}

.bubble:nth-child(9) {
    background: #8080ff; /* Adjust color as needed */
    width: 15px;
    height: 15px;
    left: 70%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.bubble:nth-child(10) {
    background: #ffff80; /* Adjust color as needed */
    width: 35px;
    height: 35px;
    left: 25%;
    animation-duration: 10s;
    animation-delay: 4s;
}

@keyframes rise {
    0% {
        bottom: -100px;
        transform: translateX(0);
    }
    50% {
        transform: translate(100px);
    }
    100% {
        bottom: 1080px;
        transform: translateX(-200px);
    }
}



@keyframes scaleUpDown {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
  }
  
  .scale-up-down {
    animation: scaleUpDown 4s infinite;
  
  }
  