
@tailwind base;
@tailwind components;
@tailwind utilities;

 
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}




.border-box-shadow{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  color:blue;
}






/* styles.css */
/* styles.css */

.bg-skyBlue {
  background-color: #87CEEB; /* Sky Blue color */
}

.bg-darkBlue {
  background-color: #00008B; /* Dark Blue color */
}

.bg-blackShade {
  background-color: #333333; /* Black Shade color */
}

.bg-lightBlue {
  background-color: #ADD8E6; /* Light Blue color */
}

.bg-navyBlue {
  background-color: #000080; /* Navy Blue color */
}

.bg-charcoalBlack {
  background-color: #36454F; /* Charcoal Black color */
}




.bg-glassy {
  background: rgba(56, 110, 245, 0.8); /* Adjust the RGBA value to your preference */
  backdrop-filter: blur(10px); /* Adjust the blur level to your preference */
}


@media (max-width: 1023px) {
  .sidebar-bg {
    background: rgba(8, 8, 8, 0.8); /* Adjust the RGBA value to your preference */
    backdrop-filter: blur(10px); /* Adjust the blur level to your preference */
  }
  .small-screen-bg {
    background: rgba(47, 100, 235, 0.8); /* Adjust the RGBA value to your preference */
    backdrop-filter: blur(10px); /* Adjust the blur level to your preference */
  }
}


.contact-us-btn {
  padding: 0.8em 1.8em;
  border: 2px solid #17C3B2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #17C3B2;
}

.contact-us-btn::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17C3B2;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.contact-us-btn:hover::before {
  width: 105%;
}

.contact-us-btn:hover {
  color: #111;
}






.glow-btn {


  background-size: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  border: 0;

  border-radius: 3px;
  cursor: pointer;
  outline: none;
  text-align: center;
}
.glow-btn span{
  z-index:10;
  position:relative;
}

.glow-effect {
  position:relative;
  overflow:hidden;
}

.glow-effect:before{
  content:'';
  position: absolute;
  left: -20%;
  top:-10%;
  width: 0;
  height: 100%;
  transform: rotate(15deg) scale(1, 2);
  box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.7);
  animation: button-glow 3000ms ease-in-out infinite;
}

@keyframes button-glow {
  0% {
    left: -20%;
  }
  50% {
    left: 120%;
  }
  100% {
    left: 120%;
  }
}


/* CSS */
.button-quote {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-quote:hover,
.button-quote:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-quote:active {
  background: var(--color);
  color: #fff;
}


.btn-learn-more {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 2px solid rgb(250, 250, 250);
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn-learn-more:hover {
  color: white;
}

.btn-learn-more::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: rgb(24, 25, 29);
  z-index: -1;
  transition: all 0.8s;
}

.btn-learn-more:hover::before {
  width: 160%;
}


.shadow__btn {
  border: none;
  transition: 0.5s;
  background: rgb(253, 253, 253);
  /* box-shadow: 0 0 15px rgb(0,140,255); */
  /* animation: shadow-glow 2s infinite; */
}

/* @keyframes shadow-glow {
  0% {
    box-shadow: 0 0 3px rgb(0,140,255),
                0 0 7px rgb(0,140,255),
                0 0 15px rgb(0,140,255),
                0 0 30px rgb(0,140,255);
  }
  50% {
    box-shadow: 0 0 7px rgb(0,140,255),
                0 0 15px rgb(0,140,255),
                0 0 30px rgb(0,140,255),
                0 0 45px rgb(0,140,255),
                0 0 60px rgb(0,140,255);
  }
  100% {
    box-shadow: 0 0 3px rgb(0,140,255),
                0 0 7px rgb(0,140,255),
                0 0 15px rgb(0,140,255),
                0 0 30px rgb(0,140,255);
  }
} */
